In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0,100,size=(100, 1)), columns=list('A'))
df_sum = df.describe()

In [7]:
df_sum.reset_index()

   index           A
0  count  100.000000
1   mean   50.050000
2    std   28.827027
3    min    1.000000
4    25%   26.750000
5    50%   48.500000
6    75%   74.250000
7    max   98.000000

In [10]:
df_sum['A']['min']

1.0